.input-container {
  margin-top: 78px;
  width: 567px;
  height: 438px;
  background-color: #ffffff;
}

.heading-2 {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  color: #050552;
}

.input-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 567px;
  height: 384px;
  padding: 32px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.input-set {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 36px;
}

.input-label {
  color: rgba(5, 5, 82, 0.6);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
}

.details-input {
  border: 1px solid #ccc;
  border-radius: 4px;
  width: 317px;
  height: 36px;
  border-radius: 6px;
  padding: 5.5px 16px;
}

.request-consent-button {
  padding: 10px;
  width: 100%;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}
