.validate-token-container {
  max-width: 600px;
  padding: 20px;
  text-align: center;
  border: none;
  margin: 50px auto;
}

.token-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.token-input {
  padding: 10px;
  margin-top: 20px;
  width: 400px;
  font-size: 16px;
}

.validate-button {
  padding: 14px 20px;
  background-color: #554ef1;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 400px;
}

.valid {
  color: green;
  margin-top: 20px;
}

.invalid {
  color: red;
  margin-top: 20px;
}
